.h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 100;
    background-color: rgba(128, 128, 128, 0.3);
}
.table {
    border-collapse: collapse;
    width: 100%;
    min-height: 100px;
    font-size: 14px;
}
.table th {
    border: 1px solid gray;
}
.table td {
    border: 1px solid gray;
    text-align: center;
}
.time {
    width: max(10vw, 41px);
}
.league {
    width: max(15vw, 55px);
}
.delete {
    width: 47px;
}
.table ul {
    margin: 1px;
    padding: 0;
}
.table li {
    list-style: none;
}
